* {
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(100, 117, 146);
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  height: 77px;
}

.left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header .left img {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.header .left h2 {
  color: white;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
  color: white;
  font-weight: bold;
}

.firstpage {
  height: 87vh;
  background-color: rgb(173, 193, 108);
}

h1 {
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.title {
  color: rgb(33, 138, 33);
}

.text h1 {
  font-weight: bold;
  font-size: 50px;
}

.text h3 {
  font-size: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  margin: -65px;

}

.gitbtn:hover,
.navigate:hover {
  transform: translateY(-3px);
  box-shadow: 8px 7px 12px -2px rgb(90 142 94);

}

.gitbtn {
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.navigate {
  height: 50px;
  background-color: green;
  color: white;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.floatingbuttons {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.card:hover {
  transform: translate(-8px, -8px) scale(1.05);
}

.card {
  border: 2px solid rgb(159, 179, 45);
  height: 94px;
  width: 120px;
  background-color: rgb(180, 199, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
}

.floatingbuttons div h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.AboutPage {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 40px;
  background-color: bisque;
}

.Aboutleft h2 {
  font-size: 30px;
}

.para {
  opacity: 0.7;
}

.Aboutright img {
  height: 25rem;
  width: 40rem;
}

.tags {
  display: flex;
  gap: 15px;

}

.tags a {
  background-color: rgb(198, 247, 190);
  height: 18px;
  width: 112px;
  padding: 6px 0px;
  border-radius: 18px;
  ;
  text-align: center;
}

.Features {
  height: 95vh;
  /* background-color: rgb(218, 193, 135); */
}

.Features h1 {
  /* display: grid;
  justify-content: center; */
  text-align: center;
  padding: 100px 0;
}

.StyleFeature {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: 200px 200px 200px;
  gap: 30px;
  justify-content: center;

}

.FeatureCard {
  border: 2px solid blue;

}