* {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  display: flex;
  background-color: rgb(100, 117, 146);
  align-items: center;
  justify-content: space-between;  /* -------------------layout breaker --------------------*/
  padding: 0 22px;
  height: 77px;
  box-sizing: border-box;
  width: 100%;
 
}



.left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header .left img {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.header .left h2 {
  color: white;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
  font-weight: bold; 
}


nav ul li a {
color: white ;
text-decoration: none;
transition: 0.3s;
}

nav ul li a:hover{
  color: #16a34a;
}



.menu-icon {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  display: none;
}


@media (max-width:768px) {

  .right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .right.active {
    display: block;
    width: 100%;
    position: absolute;
    background-color: rgb(173, 193, 108);
    top: 77px;
    left: 0;

  }


  .right nav ul {
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 10px;
  }

  .right nav ul li {
    font-size: 25px;
    color: black;
    border-radius: 8px;
    background-color: rgb(204, 221, 152);
    width: 100%;
    padding: 15px;
  }

}


.firstpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(173, 193, 108);
}


h1 {
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  
}


.title {
  color: rgb(33, 138, 33);
}

.text h1 {
  font-weight: bold;
  font-size: 50px;
}

.text h3 {
  font-size: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  margin: -65px 0;

}

.gitbtn:hover,
.navigate:hover {
  transform: translateY(-3px);
  box-shadow: 8px 7px 12px -2px rgb(90 142 94);

}

.gitbtn {
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.navigate {
  height: 50px;
  background-color: green;
  color: white;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.floatingbuttons {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.card:hover {
  transform: translate(-8px, -8px) scale(1.05);
}

.card {
  border: 2px solid rgb(159, 179, 45);
  height: 94px;
  width: 120px;
  background-color: rgb(180, 199, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
}

.floatingbuttons div h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.AboutPage {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 40px;
  background-color: bisque;
}

.Aboutleft h2 {
  font-size: 30px;
}

.para {
  opacity: 0.7;
}

.Aboutright img {
  height: 25rem;
  width: 40rem;
}

.tags {
  display: flex;
  gap: 15px;

}

.tags a {
  background-color: rgb(198, 247, 190);
  height: 18px;
  width: 112px;
  padding: 6px 0px;
  border-radius: 18px;
  ;
  text-align: center;
}

.Features {
  height: 135vh;
  background-color: rgb(212, 204, 186);
}

.Features h1 {
  text-align: center;
  padding: 100px 0 40px 0;
}

.StyleFeature {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: 200px 200px 200px;
  gap: 30px;
  justify-content: center;

}

.FeatureCard {
  border: 2px solid rgba(239, 230, 230, 0.799);
  border-radius: 10px;
  box-shadow: -4px 5px 11px -5px;
  cursor: pointer;
}


.icons {
  padding: 17px 31px;
  font-size: 30px;
  color: green;
}


.FeatureCard p,
h3 {
  padding: 0 30px;
}

.seventhCard {
  grid-column: 2/3;
}


.Screenshots {
  background-color: rgb(154, 220, 220);
  height: 135vh;
}


.ssPage {
  margin: 68px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 350px;
}

figure img {
  height: 100%;
  width: 100%;
  border-radius: 8px;  
}


figcaption {
  text-align: center;
  font-size: 25px;
  gap: 10px;
}

.img1 {
  grid-row: 1/3;
}

.Screenshots h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
}

.Contribute {
  display: flex;
  /* height: 89vh; */
  border: 2px solid rgba(237, 237, 217, 0.3);
  margin: 60px;
  border-radius: 8px;
}



.Contribute .left {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%; /* confuse : why 100% height is creating space */
}

.contributeText hr {
  margin: 0;
  opacity: 0.3;
}

.contributeText {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: fit-content;
}

.iElement {
  margin-left: 0;
}


.firsti,
.secondi {
  display: flex;
}

.Contribute .right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: left;
}

.Contribute .right ol {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 10px;
}

.Contribute .right h2 {
  margin: 30px 50px;
}

.steps {
  list-style: none;
  counter-reset: num;
}

.steps li {
  counter-increment: num;
}

.steps li::before {
  content: counter(num);
  background-color: #16a34a;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}


.right button {
  background-color: green;
  width: 10rem;
  margin: 50px;
  height: 50px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}


/* For footer */


.footer {
  height: 30vh;
  background-color: rgb(123, 161, 194);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.upperFooter {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.firstel {
  display: flex;
  gap: 10px;
  align-items: center;
}

.firstel img, .fright img {
  border-radius: 8px;
}

.footerIcon {
  height: 50px;
  width: 50px;
}

.lowerFooter hr {
  margin: 30px;
  opacity: 0.3;
}

.lowerFooter p {
  text-align: center;
}